[Unit]
Description=LVWEB-128 Web Client 

[Service]
User=deploy
Group=deploy
Environment="APPDIR=/opt/lv128/WebClient"
ExecStart=/bin/bash -c "source $APPDIR/bin/activate ; python $APPDIR/server.py "

[Install]
WantedBy=multi-user.target
